---
# yamllint disable rule:line-length
name: Pre-Commit

on:  # yamllint disable-line rule:truthy
  push:

jobs:
  preCommit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pre-commit dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Action Docs - https://github.com/npalm/action-docs
          npm install -g action-docs
          action-docs --version

          mkdir -p "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH

          sudo apt install shellcheck

          SHFFMT_VERSION="$(curl -sfSL -H "Authorization: Bearer $GITHUB_TOKEN" https://api.github.com/repos/mvdan/sh/releases/latest | jq -r '.tag_name')"
          curl -sfSLo ./shfmt "https://github.com/mvdan/sh/releases/download/$SHFFMT_VERSION/shfmt_${SHFFMT_VERSION}_$(uname)_amd64"
          chmod +x shfmt
          mv shfmt $HOME/.local/bin/
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
